.InputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling for input boxes */
input {
    width: 80%;
    max-width: 350px;
    min-width: 250px;
    height: 40px;
    border: none;
    margin: 0.5rem 0;
    background-color: #f5f5f5;
    box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 0 1rem;
    transition: all 0.2s ease-in;

}

input:hover {
    transform: translateY(-3px);
}

/* circles next to the input box */
.Status {
    height: 10px;
    width: 10px;
    background: #9d9d9d;
    border-radius: 10px;
    margin-left: 1rem;
}

/*status change color after interaction*/
input:hover + .Status {
    background: #E6A2AA;
}

input:valid + .Status {
    background: #6E9FA2;
}
